spring:
  application:
    name: auth-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  password:
    strength: 12
  jpa:
    hibernate:
    ddl-auto: update
jwt:
  secret: ${JWT_SECRET}
  expiration: 300000
